<div class="issue-list project-{{ projectSlug }}">
  <div>
    <a
      class="button is-info"


    >
      <fa-icon [icon]="faPlusCircle"></fa-icon> New Issue
    </a>
  </div>
  <ul *ngIf="issues" class="columns is-multiline">
    <li *ngFor="let issue of issues" class="column is-12">
      <issue-list-item
        [issue]="issue"
        [projectSlug]="projectSlug"
        (deleteIssue)="handleDeleteIssue($event)"
      ></issue-list-item>
    </li>
  </ul>
  <div *ngIf="issues && issues.length === 0" class="has-text-info">
    No issues!
  </div>
</div>
