<div class="issue-list project-{{ projectSlug }}">
  <ul *ngIf="issues">
    <li *ngFor="let issue of issues">
      <div class="card">
        <div class="card-content">
          <div class="columns">
            <div class="column">
              <h3>{{ issue.issue_title }}</h3>
            </div>
            <div class="column">
              <span
                [class.has-text-warning]="issue.open"
                [class.has-text-success]="!issue.open"
                >status: {{ issue.open ? 'open' : 'closed'
                }}{{ issue.status_text ? ' - ' + issue.status_text : '' }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div *ngIf="issues && issues.length === 0" class="has-text-info">
    No issues!
  </div>
</div>
